# 🌺💜 Violet: Extended standard library for C++26
# Copyright (c) 2025 Noelware, LLC. <team@noelware.org> & other contributors
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# For `--config=dbg`, we set `--compilation_mode` to `dbg`
build:dbg --compilation_mode=dbg

# For `--config=opt`, we set `--compilation_mode` to `dbg`
build:opt --compilation_mode=opt

# For `.bazelrc`, we can specify platform-specific Bazel flags with this.
common --enable_platform_specific_config

# Enable C++26 support
build:linux --cxxopt='-std=c++26' --host_cxxopt='-std=c++26' --client_env=BAZEL_CXXOPTS=-std=c++26
build:macos --cxxopt='-std=c++26' --host_cxxopt='-std=c++26' --client_env=BAZEL_CXXOPTS=-std=c++26
build:windows --cxxopt='/std:c++latest' --host_cxxopt='/std:c++latest' --client_env=BAZEL_CXXOPTS=/std:c++latest

# Include build information
build --stamp
build --workspace_status_command=./hack/stamp.sh

# CI-based configuration
build:ci --nokeep_state_after_build

## ~ common configuration for sanitizers
common:san --config=dbg --strip=never --copt=-O0 --copt=-fno-omit-frame-pointer

## ~ `--config=asan` enables Address Sanitizer (ASan)
common:asan --config=san --copt=-fsanitize=address --linkopt=-fsanitize=address

# Import .usr.bazelrc if it exists
try-import %workspace%/.usr.bazelrc
